<!doctype html>
<html lang="en" ng-app="toDoList">
  <head>
    <meta charset="utf-8">
    <title>ToDo List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="toDoListController">
    <section>
      <form>
    	 <input type="text" id="task_input_box" ng-model="task">
       <button id="task_submit" ng-click="addTask()">Submit</button>
      </form>
  	</section>
    <ul id="task_list">
      <li ng-repeat="task in tasks">
        {{ task }}
      </li>
    </ul>
  </body>
</html>